


html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;                 /*when setting borders it will eat from the width itself not from l'exterieure*/
}



/*to change the background to blue*/
body{
    background-color: #60a9ff;
    display: flex;                          /*woah it also  made the width into fit-content*/
    justify-content: center;                /*center it in the middle*/
    align-items: center;
    min-height: 100vh;    
}



/*take the container now which is*/
.panel{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.panel div{                                  /*.pricing-plan*/
    border-bottom: 1px solid #dedede; 
}

.panel div:last-child{                       /*.pricing-plan:last-child()*/  
    border-bottom: none;
}

.panel div img{                             /*pricing-img*/
    margin-bottom: 25px;
    max-width: 100%;
}

.panel div h2{                        /*pricing-header*/      
    font-weight: 600;
    color: #888;
    letter-spacing: 1px;
}

.panel div ul{                     /*pricing-features*/
    margin: 50px 0 25px;
    list-style: none;
    color: #016ff9;

}

.panel div ul li{
    font-weight: 600;              /*pricing-features-item*/
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

.panel div ul li:last-child{           /*.pricing-features-item:last-child*/
    border-bottom: 1px solid #ddd;
}


.panel div span{                         /*.pricing-price*/
    display: block;
    color: #016ff9;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.panel div a{           /*.pricing-button*/
    border: 1px solid #348efe;
    display: inline-block;                    /*woah this permitted us to give more space and avoid colision with the other blocks */
    margin: 25px 0;
    padding: 15px 35px;
    border-radius: 10px;
    color: #348efe;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}


.panel div:nth-child(2) a{           /*.pricing-plan:nth-child(2) a*/ /* the secondpricing button*/
    color: #fff;
    background-color: #348efe;
    transition: all 200ms ease-in-out;
}



.panel div a:hover , .panel div a:focus{
    background-color: #e1f1ff;
}




.panel div:nth-child(2) a:hover , .panel div:nth-child(2) a:focus{
    background-color: #60a9ff;
}


@media (min-width : 900px)
{
    .panel{
        flex-direction: row;
    }

    .panel div{                                  /*.pricing-plan*/
        border-bottom: none; 
        border-right: 1px solid #aaa;
        padding: 25px;
    }

    .panel div:last-child{
        border-right:none;
    }
}